.header {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .header-title {
        text-align: center;
        z-index: 500;
        position: absolute;
        top: -50px;
        .header-title_name {
            font-size: 14px;
            user-select: none;

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .header-title_blog {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            opacity: 0.7;
            font-size: 100px;
            user-select: none;
        }
    }

    .header-img {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
            z-index: 1;
            user-select: none;
        }
    }
}
